@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
div#geral {
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}
div#geral  div#logo {
	background-color: #0FF;
	height: 150px;
	width: 990px;
}
div#geral  div#menu {
	float: left;
	width: 200px;
	background-color: #9F9;
}
div#geral  div#conteudo {
	background-color: #0F6;
	float: left;
	width: 790px;
}
div#geral div#rodape {
	clear: left;
	width: 990px;
	background-color: #FF0;
	height: 50px;
}
