@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	font-family: "Arial Black", Gadget, sans-serif;
}
body {
	background-image: url(../imagnes/024618505_prevstill.jpeg);




}




div#geral {
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}

div#geral div#topo {
	height: 200px;
	width: 990px;
}
div#geral div#topo div#logo {
	float: left;
	height: 200px;
	width: 250px;
	background-color: #039;
	background-image: url(../imagnes/logo.jpg);
}
div#geral div#topo div#logo h1 {
	display: none;
	overflow: hidden;
	height: 0px;
	width: 0px;
}

div#geral div#topo div#banner {
	float: left;
	height: 200px;
	width: 740px;
	background-color: #060;
	background-image: url(../imagnes/bannercine.jpg);
}
div#geral  div#topo div#menu  {
	height: 50px;
	width: 990px;
	background-image: url(../imagnes/menu.jpg);
	color: #FFF;
	float: left;
}
div#geral div#topo div#menu ul {
	list-style-type: none;
	width: 900px;
	margin-left: 45px;
	color: #FFF;
}
div#geral div#topo div#menu ul li {
	width: 225px;
	float: left;
	padding-top: 15px;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
}
div#geral div#conteudo div#menu ul li a:visited {
	color: #F00;
}
div#geral div#conteudo div#menu ul li a {
	color: #F00;
}

div#geral div#conteudo div#menu ul li a:hover {
	color: #FF0;
	text-decoration: underline;
}
div#geral div#conteudo div#menu ul li a:active {
	color: #CF3;
	color: #FFF;
}

div#geral div#conteudo div#lateralE {
	float: left;
	width: 200px;
	background-repeat: repeat;
	height: 990px;
	background-image: url(../imagnes/laterale.jpg);
	list-style-type: none;
}

div#geral div#conteudo div#lateralE ul li {
	padding: 2px;
}
div#geral div#conteudo div#lateralE ul {
	list-style-type: none;
	float: left;
	text-align: center;

}
div#geral div#conteudo div#lateralE h4 {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 2px;
	margin-right: 2px;
	margin-left: 5px;
}



div#geral div#conteudo div#texto {
	width: 590px;
	background-color: #670002;
	height: 990px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	list-style-type: none;
	list-style-position: inside;
	float: left;
}
div#geral div#conteudo div#texto p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: justify;
}

div#geral div#conteudo div#texto h4 {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #FFF;
	font-size: 14px;
	color: #039;
	list-style-type: none;
}



div#geral div#conteudo div#lateralD {
	float: left;
	width: 200px;
	background-image: url(../imagnes/laterale.jpg);
	height: 990px;
	list-style-type: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
}
div#geral div#conteudo div#lateralD p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

div#geral div#conteudo div#lateralD ul {
	list-style-type: none;
	width: 200px;
	padding-right: 5px;
	margin-right: 5px;
}
div#geral div#conteudo div#lateralD ul li {
	float: left;
	padding-top: 1px;
	text-align: center;
	width: 90px;
	list-style-type: none;
}

div#geral div#rodape {
	height: 50px;
	width: 990px;
	text-align: center;
	background-image: url(../imagnes/rodape.jpg);
	float: left;
}
div#geral div#rodape p {
	text-align: center;
	font-size: 12px;
	color: #0FF;
}
