/*style the main menu*/
.myMenu {
	margin: 0;
	padding: 0;
}

.myMenu li {
	list-style: none;
	float: left;
	font-family: 'Conv_neuropolitical rg';
	width: 198px;
	text-align: center;
}

.myMenu li a:link, .myMenu li a:visited {
	display: block;
	text-decoration: none;
	margin: 0;
	border-right: 1px solid #fff;
	color: #FFF;
	font-size:15px;
	font-weight: bold;
	text-align: center;
	padding-top: 1em;
	padding-right: 2em;
	padding-bottom: 0.5em;
	padding-left: 2em;
}

.myMenu li a:hover {

}

/*style the sub menu*/
.myMenu li ul {
	position: absolute;
	visibility: hidden;
	border-top: 1px solid #fff;
	margin: 0;
	padding: 0;
	background-color: #223593;
}

.myMenu li ul li {
	display:inline;
	float:none;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	width: auto;
}

.myMenu li ul li a:hover {

}

</style>

<script type="text/javascript" src="Simple%20jQuery%20Dropdown%20Menu%20_%20Finished%20Article_arquivos/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
		$('.myMenu > li').bind('mouseover', openSubMenu);
		$('.myMenu > li').bind('mouseout', closeSubMenu);
		
		function openSubMenu() {
			$(this).find('ul').css('visibility', 'visible');	
		};
		
		function closeSubMenu() {
			$(this).find('ul').css('visibility', 'hidden');	
		};
				   
});
</script>

</head>

<body>
<ul class="myMenu">
	<li><a href="#">menu item 1</a></li>
    <li><a href="#">menu item 2</a>
    	<ul>
        	<li><a href="#">sub menu item 1</a></li>
            <li><a href="#">sub menu item 2</a></li>
            <li><a href="#">sub menu item 3</a></li>
            <li><a href="#">sub menu item 4</a></li>
        </ul>
    </li>
    <li><a href="#">menu item 3</a>
       <ul>
        	<li><a href="#">sub menu item 1</a></li>
            <li><a href="#">sub menu item 2</a></li>
            <li><a href="#">sub menu item 3</a></li>
            <li><a href="#">sub menu item 4</a></li>
        </ul>
    </li>
    <li><a href="#">menu item 4</a></li>
    <li><a href="#">menu item 5</a></li>
</ul>
